<div class="flex col ht100">
	<div class="flex col fl1 centerBoth">
		<div class="flex col bdLightGray pd50">
			<div class="flex centerBoth">
				<h2>Welcome back</h2>
			</div>
			<div class="inpContainer">
				<input class="inp" [(ngModel)]="login.email" (ngModelChange)="emailChange()" placeholder="Email" name="email"/>
				<span *ngIf="isEmailError" class="errorSpan">Email required</span>
			</div>
			<div class="inpContainer">
				<input type="password" class="inp" [(ngModel)]="login.password" (ngModelChange)="passwordChange()" placeholder="Password" name="password"/>
				<span *ngIf="isPasswordError" class="errorSpan">Password required</span>
			</div>
			<div class="inpContainer">
				<button type="button" class="btn wt100 link" name="login" (click)="userLogin()">Sign In</button>
			</div>
			<span *ngIf="loginStatusMessage" class="errorSpan">{{loginStatusMessage}}</span>
			<a routerLink="/register">Register Now</a>
		</div>
	</div>
</div>
