<div class="flex col ht100">
	<div class="flex row bgLightGray pd10 mgert10">
		<div class="fle fl1">
			Home
		</div>
		<div class="link" (click)="gotToProfile()">
			Profile
		</div>
		<div class="link" (click)="userLogout()">
			Logout
		</div>
	</div>
	<div class="flex row fl1">
		<div class="flex fl1 bgSkyblue pd10">
			Sidebar
		</div>
		<div class="flex fl3 bgWhite pd10">
			<div class="flex fl1 mgert10">
				<div class="flex col fl1 bgLightGray pd10 mgert10">
					<div>All users</div>
					<div class="flex row pd10" *ngFor="let user of users; let i = index">
						<div class="flex imgContainer">
							<img src="{{user.dp}}" width="50px"/>
						</div>
						<div class="flex fl1 pd10 centerVr">
							{{user.name}}
						</div>
						<div class="flex">
							<div class="flex fl1 link centerVr" (click)="sendRequest(user.id)">
								Add friend
							</div>
						</div>
					</div>
				</div>
				<div class="flex col fl1 mgebt10">
					<div class="flex fl1 bgLightGray pd10">
						Friends
					</div>
					<div class="flex col fl1 bgLightGray pd10 mgert10">
						<div>Send and pending request</div>
						<div class="flex row pd10" *ngFor="let user of friends; let i = index">
							<div class="flex imgContainer">
								<img src="{{user.dp}}" width="50px"/>
							</div>
							<div class="flex fl1 pd10 centerVr">
								{{user.name}}
							</div>
							<div class="flex">
								<div class="flex fl1 link centerVr" (click)="cancelRequest(user.id)">
									Cancel request
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
