/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Raleway', sans-serif; }

//Common
.inp{
	height: 30px;
	padding: 5px;
	outline: lightgray;
}
.inpError{
	outline: red;
}
.link{
	cursor: pointer;
}
.btn{
	height: 40px;
	padding: 5px;
}
.errorSpan{
	color: red;
	font-size: smaller;
	font-weight: bold;
}
.inpContainer{
	display: flex;
	flex-direction: column;
}
.flex{
	display: flex;
}
.fl1{
	flex: 1;
}
.fl2{
	flex: 2;
}
.fl3{
	flex: 3;
}
.col{
	flex-direction: column;
}
.row{
	flex-direction: row;
}
.centerHr{
	justify-content: center;
}
.centerVr{
	align-items: center;
}
.centerBoth{
	justify-content: center;
	align-items: center;
}

.ht100{
	height: 100%;
}
.wt100{
	width: 100%;
}
.bdLightGray{
	border: 1px solid lightgray;
}

.pd10{
	padding: 10px;
}
.pd50{
	padding: 50px;
}
.mgert10>*{
	margin-right: 10px;
}
.mgebt10>*{
	margin-bottom: 10px;
}
.inpContainer{
	margin-bottom: 5px;
	height: 60px;
}

.bgLightGray{
	background: lightgray;
}
.bgSkyblue{
	background: skyblue;
}
.bgWhite{
	background: white;
}

.imgContainer{
	border-radius: 50%;
	background: gray;
	width: 50px;
	height: 50px;
}

.listContainer{
	height: 100px;
}