<div class="flex col ht100">
	<div class="flex col fl1 centerBoth">
		<div class="flex col bdLightGray pd50">
			<div class="flex centerBoth">
				<h2>Please enter your details</h2>
			</div>
			<div class="inpContainer">
				<input class="inp" [(ngModel)]="user.name" (ngModelChange)="nameChange()" placeholder="Name" name="name"/>
				<span *ngIf="isNameError" class="errorSpan">Name required</span>
			</div>
			<div class="inpContainer">
				<input class="inp" [(ngModel)]="user.email" (ngModelChange)="emailChange()" placeholder="Email" name="email"/>
				<span *ngIf="isEmailError" class="errorSpan">Email required</span>
			</div>
			<div class="inpContainer">
				<input type="password" class="inp" [(ngModel)]="user.password" (ngModelChange)="passwordChange()" placeholder="Password" name="password"/>
				<span *ngIf="isPasswordError" class="errorSpan">Password required</span>
			</div>
			<div class="inpContainer">
				<input type="password" class="inp" [(ngModel)]="confirmPassword" placeholder="Password" name="confirmPassword"/>
				<span *ngIf="isPasswordMismatchError" class="errorSpan">Passwords not matching</span>
			</div>
			<div class="inpContainer">
				<div class="flex row">
					<label>
						<input type="radio" name="radioGender" (ngModelChange)="genderChange()" [(ngModel)]="user.gender"
						 value="m">
						Male
					</label>
					&nbsp;
					<label>
						<input type="radio" name="radioGender" (ngModelChange)="genderChange()" [(ngModel)]="user.gender"
						 value="f">
						Female
					</label>
				</div>
			</div>
			<div class="inpContainer">
				<input name="dp" (change)="dpChangeEvent($event)" class="inp" type="file" />
				<span *ngIf="isDpError" class="errorSpan">Image required</span>
			</div>
			<div class="inpContainer">
				<button type="button" class="btn wt100 link" name="user" (click)="userRegister()">Register</button>
			</div>
			<a routerLink="/login">Go to signin</a>
		</div>
	</div>
</div>
